{% if is_granted('ROLE_ADMIN') %}
    {% set base = "_admin" %}
{% elseif is_granted('ROLE_EDITOR') %}
    {% set base = "_editor" %}
{% else %}
    {% set base = "" %}
{% endif %}
{% extends 'layout/base' ~ base ~ '.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ include('admin/user/_form.html.twig', {'button_label': 'Update'}) }}

    <a type="button" class="btn btn-secondary m-1" href="{{ path('app_admin_user_index') }}">back to list</a>

    {{ include('admin/user/_delete_form.html.twig') }}
{% endblock %}
