<form method="post" action="{{ path('app_comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Are you sure you want to delete item {{ comment.id }}?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    <button class="btn"><img src="{{ asset('uploads/img/trash-been.png')}}" alt="trash-been" style="height: 30px"></button>
</form>
